@import '../../style/palette';

.resolution-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.Head {
  color: white;
  @include emphasis();
  font-size: 2rem;
  text-shadow: 4px 4px 16px rgba(0, 0, 0, 1);
}
.res-option {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  position: relative;
}

.res-option-darkener {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.res-option-unselected {
  -webkit-box-shadow: inset 10px 10px 85px 19px rgba(0,0,0,1);
  -moz-box-shadow: inset 10px 10px 85px 19px rgba(0,0,0,1);
  box-shadow: inset 10px 10px 85px 19px rgba(0,0,0,1);
  .Head {
    color: $darkHeadColor;
  }
}

.mainButton {
  font-size: 3rem;
  @include emphasis();
  color: $linkColor;
}