@import 'palette';
 @import '../../node_modules/react-md/src/scss/react-md';
$md-primary-color: $md-teal-500;
$md-secondary-color: $md-lime-a-400;
body, html, AppContainer, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 16px;
  @media screen and (min-width: 1024px) {
    font-size: 24px;
  }
}
body {
  background-image: url('/static/andromeda_tinted_dark.png');
  background-position: center;
  background-size: cover;
}

#texture {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none !important;
  z-index: 2000;
}

.brace-box {
  border: 10px solid transparent;
  border-image: url('/static/images/border-box.png') 60 round
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.info {
  @include body();
  @include bodyInfo();
}