@import 'palette';

body, html, AppContainer, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 16px;
  @media screen and (min-width: 1024px) {
    font-size: 24px;
  }
}
body {
  background-image: url('/static/andromeda_tinted.png');
  background-position: center;
  background-size: cover;
}

#texture {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none !important;
  z-index: 2000;
}

button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  @include emphasis();
  outline: none;
}

* , button, p, div, a {
  font-family: 'KapraNeue-Regular', Roboto, Helvetica, sans-serif;
}