@import './css3-mixins.scss';
$bgColor: rgb(19, 35, 60);
$bgBorderColor: lighten($bgColor, 20%);
$navHeadColor: lighten($bgColor, 40%);
$navDarkColor: transparentize(darken($bgColor, 5%), 0.025);
$transNavColor: transparentize($bgColor, 0.05);
$navPadding: 1rem;
$linkColor: rgb(238, 255, 114);

$darkTextColor: rgb(225,225,225);
$textColor: rgb(163, 200, 255);

$headColor: darken($textColor, 10%);
$darkHeadColor: rgb(200,200,200);

$navigationTopFontSize: 1.8rem;
$navigationBottomFontSize: 1.5rem;

$headFontSize: 2rem;
$headSubFontSize: 0.75 * $headFontSize;
$bodyFontSize: 1.25rem;

@mixin lightText() {
  font-family: 'KapraNeue-LightCondensed', Roboto, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
}

@mixin unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

@mixin navGradient () {
  background-image: -ms-linear-gradient(top, $bgColor 0%, $transNavColor 66%, $navDarkColor 100%);
  background-image: -moz-linear-gradient(top, $bgColor 0%, $transNavColor 66%, $navDarkColor 100%);
  background-image: -o-linear-gradient(top, $bgColor 0%, $transNavColor 66%, $navDarkColor 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $bgColor), color-stop(66, $transNavColor), color-stop(100, $navDarkColor));
  background-image: -webkit-linear-gradient(top, $bgColor 0%, $transNavColor 66%, $navDarkColor 100%);
  background-image: linear-gradient(to bottom, $bgColor 0%, $transNavColor 66%, $navDarkColor 100%);

}

@mixin emphasis() {
  text-transform: uppercase;
  line-height: 90%;
}

@mixin body () {
  color: $textColor;
  font-family: 'KapraNeue-Regular', Helvetica, sans-serif;
  font-size: $bodyFontSize;
}

@mixin bodySmall () {
  @include lightText();
  font-size: $bodyFontSize * 0.75;
}

@mixin bodyDark () {
  color: $darkTextColor;
}

@mixin bodyInfo () {
  @include body();
  @include bodySmall();
  font-style: italic;
}

@mixin head () {
  font-family: 'KapraNeue-Black', Roboto, Helvetica, sans-serif;
  @include emphasis();
  font-size: $headFontSize;
  color: $headColor;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

@mixin headDark() {
  color: $darkHeadColor;
}

@mixin headSub () {
  font-family: 'KapraNeue-Bold', Roboto, Helvetica, sans-serif;
  font-size: $headSubFontSize;
}

@mixin borderBox {
  border: 10px solid transparent;
  border-image: url('/static/images/border-box.png') 15 round
}

@mixin linkBox {
  border: 10px solid transparent;
  border-image: url('/static/images/link-box.png') 12 round;
  padding-top: 10px;
}

@mixin linkButton {
  @include linkBox();
  @include emphasis();
  font-size: $headSubFontSize;
  color: $linkColor;
  vertical-align: middle;
}

@mixin genericButton {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  @include emphasis();
  @include unselectable();
}

@mixin navButton () {
  @include genericButton();
  color: $linkColor;
  font-size: $navigationBottomFontSize;
  @include lightText();
  @include unselectable();
}

@mixin bodySmallShadow() {
  @include text-shadow(2, 1,1, rgba(0,0,0,0.25));
}
