@import '../../style/palette';

.Generator {
  background-position: center top;
  background-size: cover;
  background-image: url('/static/images/sunrise-trans.png');
  flex-grow: 1;

  padding-top: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.Head {
  @include head();
  @include headDark();
}

.text {
  @include bodySmall();
  @include bodyDark();
}

.Generator-canvas-wrapper {
  position: relative;
  flex-grow: 1;
  display: flex;

}
.info {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}

.info-text {
  @include bodySmall();
  @include bodyDark();
  @include bodySmallShadow();
}
.Generator-canvas {
  flex-grow: 1;

  overflow-y: hidden;
  overflow-x: scroll;
}