/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
.two-column {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%; }

.prop-item {
  padding: 0.25rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%; }
  .prop-item label {
    color: #a3c8ff;
    font-family: 'KapraNeue-Regular', Helvetica, sans-serif;
    font-size: 1.25rem;
    color: black; }
  .prop-item span {
    color: #a3c8ff;
    font-family: 'KapraNeue-Regular', Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    font-size: 1rem;
    color: black;
    text-align: right; }
    .prop-item span i {
      display: block;
      font-weight: 200;
      font-size: 0.8rem;
      font-style: normal;
      text-align: right;
      line-height: 100%; }

.prop-item-ex label, .prop-item-ex span {
  color: #91006b; }

.prop-list {
  width: 50%; }

.TopNavigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  jusify-content: space-between;
  background-image: -ms-linear-gradient(top, #13233c 0%, rgba(19, 35, 60, 0.95) 66%, rgba(13, 24, 41, 0.975) 100%);
  background-image: -moz-linear-gradient(top, #13233c 0%, rgba(19, 35, 60, 0.95) 66%, rgba(13, 24, 41, 0.975) 100%);
  background-image: -o-linear-gradient(top, #13233c 0%, rgba(19, 35, 60, 0.95) 66%, rgba(13, 24, 41, 0.975) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #13233c), color-stop(66, rgba(19, 35, 60, 0.95)), color-stop(100, rgba(13, 24, 41, 0.975)));
  background-image: -webkit-linear-gradient(top, #13233c 0%, rgba(19, 35, 60, 0.95) 66%, rgba(13, 24, 41, 0.975) 100%);
  background-image: linear-gradient(to bottom, #13233c 0%, rgba(19, 35, 60, 0.95) 66%, rgba(13, 24, 41, 0.975) 100%);
  z-index: 2000; }

.Head {
  color: #5381c8;
  font-family: 'KapraNeue-Black', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 90%; }

.TopNavigationHeadCell {
  margin: 0.5rem 1rem;
  flex-grow: 0; }

.TopNavigationActionCells {
  margin: 0.5rem 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start; }
  .TopNavigationActionCells button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 90%;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    color: #eeff72;
    font-size: 1.5rem;
    font-family: 'KapraNeue-LightCondensed', Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 200;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    font-size: 1.8rem; }

.TopNavButton {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 90%;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  color: #eeff72;
  font-size: 1.5rem;
  font-family: 'KapraNeue-LightCondensed', Roboto, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */ }

.navInfo {
  color: #a3c8ff;
  font-family: 'KapraNeue-Regular', Helvetica, sans-serif;
  font-size: 1.25rem;
  color: #e1e1e1;
  font-weight: 200; }

/*# sourceMappingURL=TopNavigation.module.css.map */
