@import '../../style/palette';
.Home {
  background-position: center top;
  background-size: cover;
  background-image: url('/static/images/sunrise-trans.png');
  height: 100%;
  padding: 4rem;
  padding-top: 75px;
  text-align: center;
}

.choice-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  Button {
    margin-right: 1rem;
  }
}

.Head {
  @include head();
  @include headDark();
}

.text {
  @include body();
  @include bodyDark();
}

.Resolutions-Head {
  @include head();
  @include headDark();
  @include headSub();
}

.info {
  @include bodyInfo();
  @include bodyDark();
}

.MainButton {
  @include linkButton();
}